* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.285);
  max-height: 100px;
}

.nav-items {
  display: flex;
  margin-left: 5rem;
}

.nav-items li {
  padding: 10px;
}
header #logo h2 {
  font-size: 45px;
  color: #00f;
}

ul li {
  list-style-type: none;
  padding: 0;
}

header #logo h2 span {
  color: #fff;
  font-style: italic;
  font-size: 35px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

header nav ul li:hover {
  text-decoration: underline;
  color: #00f;
}

.main-container {
  padding: 130px 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
  border-radius: 25px;
  border: 1px solid rgb(200, 200, 200);
  margin: 50px;
}

.card:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 10px rgb(229, 228, 228);
}

.card .card-img {
  width: 210px;
  height: 295px;
}

.card-details {
  display: flex;
  gap: 70px;
}

.card .like-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .like-section i {
  cursor: pointer;
}

.comment-btn {
  padding: 10px 25px;
  border: none;
  background-color: rgb(44, 44, 223);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.liked {
  color: #f00;
}

.footer {
  background-color: rgb(51, 46, 46);
  padding: 20px 30px;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 5vh;
}

/* comment section */
.comment-section-container {
  background-color: rgb(201, 195, 195);
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 100px 100px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.dn {
  display: none;
}

.fa-times {
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 20px;
}

.commentForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  padding-bottom: 20px;
  align-items: center;
  width: 60%;
}

form h3,
.display-comment h3,
.showName {
  padding: 50px 0 30px;
}

.name-input {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

.insignt {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

.submit {
  padding: 5px 30px;
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
  outline: none;
  color: #fff;
}

form {
  width: 100%;
  position: relative;
}

.comment-username {
  font-weight: 900;
}

.submitBtn {
  position: absolute;
  bottom: 0;
  left: 40%;
  margin: 10px 0;
  padding: 5px 15px;
  background-color: rgb(44, 44, 223);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
